{{#each getRandomBeer}}
    <img src="{{image_url}}">
    <span>{{name}}</span>
    <span>{{description}}</span>
    <span>{{tagline}}</span>
    <span>{{food_pairing}}</span>
    <span>{{brewer_tips}}</span>
{{/each}}